@model ProductModel

<h2 class="col-12 text-center">تفاصيل</h2>
<p class="text-end text-success">

    <strong class="text-dark">الاسم :</strong> @Model.Name <br />
    <strong class="text-dark">السعر :</strong> @Model.Price<br />
    <strong class="text-dark">نبذة عن المنتج :</strong> <br />
<p>
كلام عن المنتج
</p>
